<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>If、Show条件渲染</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.js"></script>
</head>
<body>
<div id="app">

    <!--条件渲染-->
    <div v-if="count >= 0">
        The Count is bigger than 0 , count : {{ count }}
    </div>

    <div v-else-if="count <= 0 && count >= -5">
        The Count is smaller than 0 , but bigger than -5 , count : {{ count }}
    </div>

    <div v-else>
        The Count is smaller than 0 , count : {{ count }}
    </div>

    <!--条件符合的时候渲染出来-->
    <div v-show=" count == 0">
        The Count is  0
    </div>

    <!--列表渲染-->
    <div v-for="item in list">
       {{ item }}
    </div>

    <!--列表渲染JsonList-->
    <div v-for=" item in jsonlist">
        <div v-if="item.age < 19" :style="styleMsg" >
            name: {{ item.name }} , age: {{ item.age}}
        </div>
    </div>
    <!--绑定渲染同样可以这么写-->
    <div v-for=" item in jsonlist">
        <div v-if="item.age < 19" :style="{ 'color' : 'green' , 'textShadow' : '0 0 5px red ' }" >
            name: {{ item.name }} , age: {{ item.age}}
        </div>
    </div>

    <!--class绑定渲染-->
    <div v-for=" item in jsonlist">
        <div v-if="item.age < 19"
             :class="{ 'active':true }"
             :style="styleMsg">
            name: {{ item.name }} , age: {{ item.age}}
        </div>
    </div>

    <!--绑定多个class绑定渲染 同时渲染的时候可以绑定条件-->
    <div v-for=" item in jsonlist">
        <div v-if="item.age < 19"
             :class="['class1','class2','class3',{ 'active': item.age < 19 }]"
             :style="styleMsg">
            name: {{ item.name }} , age: {{ item.age}}
        </div>
    </div>

    <!-- 引用对象渲染也可以绑定条件 -->
    <!--列表渲染JsonList-->
    <div v-for=" item in jsonlist">
        <div v-if="item.age < 19" :style="{styleMsg : false}" >
            name: {{ item.name }} , age: {{ item.age}}
        </div>
    </div>

</div>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            msg:'Hello Vue',
            count: 1,
            list: [1,2,3,4,5],
            jsonlist:[{
                    name:'MR.Zheng',
                    age: 18
                },{
                    name:'MR.Li',
                    age: 20
                }],
            styleMsg:{
                color: 'green',
                textShadow: '0 0 5px red'
            }

        }
    })
</script>
</body>
</html>