<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Content/css/qq2.css" rel="stylesheet" />
    <link href="~/Content/css/huaban.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
    <style>
        body{
            width: 100%;
            height: 100%;
            background-image: url('../../Content/img/beijing/8.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            overflow-x: hidden;
        }
        .time {
            text-align: center;
        }
        .app {
            margin: 40px auto;
        }

        #note-textarea {
            margin: 20px 0;
        }

        #recording-instructions {
            margin: 15px auto 60px;
        }

        #notes {
            padding-top: 20px;
        }

        .note .header {
            font-size: 0.9em;
            color: #888;
            margin-bottom: 10px;
        }

        .note .delete-note,
        .note .listen-note {
            text-decoration: none;
            margin-left: 15px;
        }

        .note .content {
            margin-bottom: 40px;
        }
        .button{
		    background:#1AAB8A;
		    color:#fff;
		    border:none;
		    position:relative;
		    height:40px;
            width:80px;
		    font-size:1.2em;
		    cursor:pointer;
		    transition:800ms ease all;
		    outline:none;
            margin-top:-1px;
	    }
	    .button:hover{
		    background:#fff;
		    color:#1AAB8A;
	    }
	    .button:before,button:after{
		    content:'';
		    position:absolute;
		    top:0;
		    right:0;
		    height:2px;
		    width:0;
		    background: #1AAB8A;
		    transition:400ms ease all;
	    }
	    .button:after{
		    right:inherit;
		    top:inherit;
		    left:0;
		    bottom:0;
	    }
	    .button:hover:before,button:hover:after{
		    width:100%;
		    transition:800ms ease all;
	    }
    </style>
    <link href="~/Content/css/pingmu.css" rel="stylesheet" />
    <link href="~/Content/css/lib/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/lib/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/css/lib/default.css" rel="stylesheet" />

    <!--Template Styles-->
    <link href="~/Content/css/style1.css" rel="stylesheet" />
    <link href="~/Content/css/purple.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.fancy-textbox.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/lib/jquery.preloader.js"></script>
    
</head>
<body>

    <div id="preloader">
        <div id="status"></div>
    </div>
    <div id='content' style="width:100%;height:100%;">
        <!-- 飘花 -->
        <div id="snowflake"></div>
    </div> 
    <div id="main-wrapper" style="height:100%">
        <!-- Site Navigation -->
        <div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" style="width:100%;" align="center">
                        <img src="~/Content/img/logo.png" width="150" alt="logo">
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-navbar-collapse" align="center">
                    <ul class="nav navbar-nav">
                        <li><a href="/FlowerData/message">数据中心</a></li>
                        <li><a href="/Sensor/submit">传感器</a></li>
                        <li><a href="/FlowerData/index3">查询中心</a></li>
                        <li><a href="/Chat/talk">咨询中心</a></li>
                        <li class="active"><a href="#">交互中心</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

        <div id="container" style="top: 50%;transform: translateY(-50%);">

            <div class="row">
                <div class="col-md-8 col-md-offset-2"  align="center">
                    <img src="~/Content/img/luyin.png" style="width:100px;height:auto;"/>
                </div>
            </div>
            <div class="row">
                <div class="app" align="center" style="width:700px;">
                    <div class="input-single">
                        <textarea id="note-textarea" placeholder="通过键盘输入来创建对话..." rows="10"></textarea>
                    </div>
                    <button id="start-record-btn" title="Start Recording" class="button">开始</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/chat2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src="~/Content/js/jquery.transit.js"></script>
    <script src="~/Content/js/huaban.js"></script>
</body>
</html>


