<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pojo.IUser">

    <!--主键查找-->
    <select id="getById" resultType="pojo.User">
        select * from  user where idUser = #{id}
    </select>

    <!--添加记录-->
    <insert id="addUser" parameterType="pojo.User" useGeneratedKeys="true">
        insert into user values (#{idUser},#{name},#{age})
    </insert>

    <!--删除记录-->
    <delete id="deleteUser" >
        delete from user where idUser = #{id}
    </delete>

    <!--更新记录-->
    <update id="updateUser" parameterType="pojo.User">
        update user set idUser = #{idUser},name=#{name},age = #{age}
        where  idUser = #{idUser}
    </update>

    <!--查找所有记录-->
    <select id="selectAllUser" resultType="pojo.User">
        select * from user
    </select>

</mapper>
