<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/reg.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <img src="~/Content/img/logo.png" />
    <img src="~/Content/img/bj.jpg" />
    <script src="~/Content/js/agree.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.md5.js"></script>
    <script src="~/Content/js/login.js"></script>
    <script src="~/Content/js/login2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
</body>
</html>